body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f18fc0;
    margin: 0;
    padding: 0;
    color: white;
}
header {
    background-color: #f163a8;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}
nav a {
    color: #c94c78;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
h1, p {
    margin: 10px 0;
}
h4{
    margin-left: 10px 0;
}
.img{
    width: 200px;
    border-radius: 10px;
}